#topblackbar {
    background-color: #282D42;
    height:95px;
}

#singolotitle {
    color: white;
    float: left;
    text-align: center;
    height: 95px;
    width: 150px;
    margin-top: 25px;
    margin-left: 35px ;
    font-size: 180%;
        
}
.star {
    color: #F16C65;    
}



.topmenu {
    height: auto;
    width: auto;
    float: right;
    color: white;
    margin-right: 75px;
    list-style: none;
    display: inline;
    margin-top: 35px;    
} 

.topul .topli { list-style: none; display: inline; }
.topul .topli:after { content: " \00b7"; }
.topul .topli:last-child:after { content: none; }

#carouselbox {
    height: 620px;
    background-color: #F16C65;
    float: inherit;
}

.d-block {
    margin-left: 160px;
    margin-top: 10px;
}


#servicesbox {
    background-color:#C8CAD4; 
    height:550px; 
    padding-left: 20px;
    padding-right: 20px;

}

.servicefronttext {
    float: left;
    color: #F2F2F2;
}

.servicetitle {
    font-size: 200%;
    font-weight: bold;
    padding-top: 40px;
}

.servicetitle, .servicetext {
    margin-left: 20px;
    margin-top: auto;
    color:#626883;
    font-family: Arial;

}

.servicesbulle {
    float:left;
    height: 90px;
    width: 90px;
    margin: 15px;
    border-radius: 100px;
    margin-right: 25px;
}

.servicesbulletitle {
    font-family: Arial;
    font-size: 120%;
    font-weight: bold;
    color:#626883;
}

.servicebullecontent {
    font-family: Arial;
        color:#626883;

}

#portfoliobox {
    background-color:#2D2F3B; 
    height:800px; 
    color: #626883;
}

#portfoliocontent {
    
}

#portfoliotext {
    
}


.col-sm-1 {
    width: 10000px;
}

.portfoliomenutext {
    font-size: 85%;
    text-align: center;
}

#aboutusbox {
    height: 675px;
    background-color: #C8CAD4;
}

#quotebox {
    height: 675px;
    background-color: #F16C65;
}

#bottommenu {
    height: 95px;
    background-color: #282D42;
}