#topblackbar {
    height: auto;
    width: 100%;
    background-color: #282D42;
    display: inline-block;
    vertical-align: bottom;
    }

#topelements {
    width: auto;
    height: auto;
}

#singolotitle {
    color: white;
    height: auto;
    width: auto;
    font-size: 180%;
    float: left;
    margin-left: 35px;
    margin-top: 10px;    
}

.star {
    color: #F16C65;    
}

a:link {
    color: white;
    text-decoration: none;
}
a:hover {
    color:white;
    text-decoration: none;

}
a:visited {
    color: white;
    text-decoration: none;

}

#topmenu {
    color: white;
    list-style: none;
    float: right;
    height: auto;
    width: auto;
    margin-top: 20px;
    margin-right: 100px;
} 

.topul .topli { list-style: none; display: inline; }
.topul .topli:after { content: " \00b7"; }
.topul .topli:last-child:after { content: none; }

#carouselbox {
    height: auto;
    width: auto;
    background-color: #F16C65;
    float: inherit;
}

.d-block {
    margin-left: 160px;
    margin-top: 10px;
}


#servicesbox {
    background-color:#C8CAD4; 
    height:auto; 
    padding-left: 20px;
    padding-right: 20px;

}

.servicefronttext {
    float: left;
    color: #F2F2F2;
}

.servicetitle {
    font-size: 200%;
    font-weight: bold;
    padding-top: 40px;
}

.servicetitle, .servicetext {
    margin-left: 20px;
    margin-top: auto;
    color:#626883;
    font-family: Arial;

}

.servicetotaltext {
height: auto;
width: auto;
}

.servicesbulle {
    float:left;
    height: 90px;
    width: 90px;
    margin: 15px;
    border-radius: 100px;
    margin-right: 25px;
}

.servicesbulletitle {
    font-family: Arial;
    font-size: 120%;
    font-weight: bold;
    color:#626883;
}

.servicebullecontent {
    font-family: Arial;
        color:#626883;

}

#portfoliobox {
    background-color:#2D2F3B; 
    height:auto; 
    width: auto;
    color: #626883;
    
}

#portfoliocontent {
    height:auto; 
    padding-left: 20px;
    padding-right: 20px;
}

#portfoliotext {
    
}

#porttitle {
    font-size: 200%;
    font-weight: bold;
    padding-top: 40px;
}

#porttitle, #porttext {
    margin-left: 45px;
    margin-top: auto;
    color:#626883;
    font-family: Arial;

}

#portfoliomenu {
    display: inline-flex;
    
    
}

.portfoliomenutext {
    font-size: 75%;
    height: auto;
    width: auto;
    border: 2px solid #626883;    
    border-radius: 7px;
    padding: 4px;
    margin: 5px;
}

#portfolioicons1{
    height: 100%;
    width: 100%;
    padding: 40px;

}


.icon {
    height: 170px;
    width: 170px;
    margin-top: 30px;
    margin-left: 4%;

}

#aboutusbox {
    height: auto;
    width: auto;
    background-color: #C8CAD4;
    padding-left: 20px;
    padding-right: 20px;
}

#aboutuscontent {
     height:auto; 
    padding-right: 20px;
}

#aboutustitle {
    font-family: Arial;
    font-size: 200%;
    height: auto;
    width: auto;
    padding: 20px;
    font-weight: bold;
    color: #626883;

}

#aboutustxt {
    margin-left: 20px;
    margin-top: auto;
    color:#626883;
    font-family: Arial;
}


.moiimg {
   margin: 5px;
}

.moititle {
    font-family: Arial;
    font-size: 120%;
    font-weight: bold;
    color:#626883;
    margin: 5px;
}

.moitext {
    font-family: Arial;
        color:#626883;
    margin: 5px;
}

.contactlist {
    display: inline-block;
    float: left;
}

.socialimg {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 7px;
}

.medialist {
    display: inline-flex;
    margin-left: -17%;
    margin-bottom: 50px;
}

#quotebox {
    height: auto;
    width: auto;
    background-color: #F16C65;
    display: inline-block;
    color:#F0D8D8;


}

#contacttext {
    height: auto;
    width: auto;
    font-family: Arial;
}

#quotettitre {
    font-family: Arial;
    font-size: 200%;
    height: auto;
    width: auto;
    padding: 20px;
    font-weight: bold;
    margin-bottom: -5px;
}

#quotetitretext {
    margin-left: 20px;
    margin-top: auto;
    font-family: Arial;
}

#quoteinput {
    float:left;
    display: inline-flex;
    height: auto;
    width: 60%;
    margin-left: -20px;
}

.inputer {
    width: 90%;
    border-radius: 10px;
    background-color: #D75650;
    color: #F16C65;
    border-style: none;
    color: #F0D8D8;
    padding: 10px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #F16C65;
    font-size: 80%;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #F16C65;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #F16C65;
}
:-moz-placeholder { /* Firefox 18- */
  color: #F16C65;
}

#bigtextcontact {
    width: 90%;
    border-radius: 10px;
    background-color: #D75650;
    border-style: none;
    color:#F0D8D8;
    padding: 5px;
    
}


#quoteinformations {
    float: right;
    height: auto;
    width: 40%;
    
}

#quotetitle, #listinfo {
    float: left;

}

#quotetitle {
    font-size: 140%;
}



.contactinfo {
    float:right;
}

.contacticon {
    height: 15px;
    width: 15px;
}

#bottommenu {
    height: auto;
    width: 100%;
    background-color: #282D42;
    color: #676C89;
    display: inline-block;
}
    
#bottomtext {
    float: left;
    width: 70%;
    margin-top: 20px;
}


#bottomicons {
    float: right;
    width: 30%;        
}

#bottomiconslist {
    display: inline-flex;
    margin-top: 15px;
}

.blackpng {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 7px;
}